@import "~bootstrap/scss/bootstrap";

:root {
  --pink-dark: #ba68c8;
  --pink-middle: #e6a9f0;
  --pink-light: #f3e0f5;
  --pink-extra-light: #f3e0f5a7;
  --red-middle: #fa7272;
  --gray-dark: #2c3539;
  --gray-middle: #455157;
  --gray-light: #516168;
  --white-gray-dark: #d2d0d0;
  --white-gray-light: #fafafa;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray-dark);
  background: linear-gradient(135deg, var(--pink-light), var(--pink-extra-light));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--pink-dark);
}

.to-do-header {
  color: var(--pink-dark);
}

.to-do-header::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  background-image: url('./assets/to-do-list.svg');
  background-size: cover;
  background-position: center;
}

.todo-container {
  width: 100%;
  max-width: 600px;
  background: var(--white);
  margin: 50px auto 20px;
  padding: 40px 30px 20px;
  border-radius: 10px;
}

.tasks-container {
  margin-top: 37px;
}

.form-control {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form-control:focus, .form-control:focus + .btn-add {
  border-color: var(--pink-light);
  box-shadow: 2px 2px 3px 0 var(--pink-middle);
}

.form-control.is-invalid {
  border-color: var(--red-middle) !important;
}

.form-control.is-invalid:focus, .form-control.is-invalid:focus + .btn-add {
  border-color: var(--red-middle) !important;
  box-shadow: 2px 2px 3px 0 var(--red-middle);
}

.invalid-tooltip {
  max-width: fit-content;
  background-color: transparent;
  color: red;
  margin-top: 0;
}

.btn-add {
  border-top-right-radius: 10px!important;
  border-bottom-right-radius: 10px!important;
  background-color: var(--pink-dark);
  color: var(--white-gray-light);
  border-color: var(--pink-dark)  !important;
}

.btn-add:hover {
  background-color: var(--pink-middle);
  color: var(--white-gray-light);
}

.btn-add:active {
  background-color: var(--pink-middle) !important;
  color: var(--white-gray-light);
}

.input-control {
  margin-right: 10px;
}

.task-body {
  flex: 1 1 auto;
  margin: 0 10px;
  padding-left: 40px;
  text-align: left;
  word-break: break-all
}

.task-body::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url('./assets/circle.svg');
  background-size: cover;
  background-position: center;
  left: 8px;
  text-align: center;
}

.list-group-item + .list-group-item, .list-group-item, .list-group-item:first-child  {
  margin-bottom: 15px;
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  border-radius: 10px;
}

.list-group-item-success {
  background-color: var(--pink-light);
}

.list-group-item-success .task-body {
  text-decoration: line-through;
}

.list-group-item-success div .task-body::before {
  background-image: url('/assets/check-mark-svgrepo-com.svg');
}

.btn-remove-task {
  text-decoration: none;
  color: var(--gray-dark);
  border-radius: 20%;
  text-align: center;
}

.btn-remove-task:hover {
  background: var(--pink-middle);
  text-decoration: none;
  color: var(--gray-dark);
}

.btn-remove-task:focus, .btn-remove-task:active {
  background: var(--pink-light) !important;
  text-decoration: none;
  color: var(--gray-dark) !important;
}

.tabs-head {
  border: none !important;
}
.tabs-head > li {
  margin: 0 1px;
}

.tabs-head > li > button {
  border-width: 1.5px !important;
  border-radius: 10px !important;
  border-color: var(--pink-dark) !important;
  color: var(--gray-dark) !important;
}

.tabs-head > li > button:hover {
  color: var(--gray-middle) !important;
  background-color: var(--pink-light) !important;
  border-color: var(--pink-middle) !important;
}

.tabs-head > li > button.active {
  color: var(--white-gray-light) !important;
  border-color: var(--pink-dark)  !important;
  background-color: var(--pink-dark) !important;
}

@media screen and (max-width: 600px) {
  .tabs-head > li > button {
    height: 100%;
    word-break: break-word;
  }
}